@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);


body {
    background-image: url("../images/background.jpg");
}

h1 {
	font-family: 'Mr+Dafoe';
	font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}